.navigationButtons {
  height: 2.2rem;
  width: fit-content;
  font-weight: bold;
  background-color: dimgrey;
  color: white;
}

.navigationButtons:hover {
  cursor: pointer;
  box-shadow: 0 0 0.4rem white;
}

.todoStatus {
  display: flex;
  gap: 2rem;
  position: sticky;
}

.active {
  background-color: indianred;
}
.clear {
  margin-left: 30rem;
}

.count {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.todoList {
  margin-top: 2rem;
}

.todoListItems {
  display: flex;
  justify-content: space-between;
  background-color: dimgray;
  padding: 10px;
  margin: 5px;
}

.todoListItems h2 {
  font-weight: bold;
  font-size: 2rem;
  color: chocolate;
}

.todoListItems .deleteIcon,
.editIcon {
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-top: 1.3rem;
  color: burlywood;
}

.todoListItems .deleteIcon:hover,
.checkIcon:hover,
.editIcon:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem white;
}

.todoListItems .checkIcon {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  color: burlywood;
}

.todoListItems p {
  font-size: 1.5rem;
}

@media (max-width: 760px) {
  .count {
    font-size: 1rem;
  }

  .todoListItems {
    padding: 1px;
    margin: 1px;
  }

  .todoListItems .deleteIcon,
  .editIcon {
    font-size: 1.2rem;
    margin-right: 0.2rem;
  }

  .todoListItems .checkIcon {
    font-size: 1rem;
  }

  .iconContainer {
    flex-direction: row;
    width: 23%;
    font-size: 1.1rem;
  }

  .todoListItems p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .todoListItems .deleteIcon,
  .editIcon {
    font-size: 1rem;
    margin-right: 0.2rem;
  }

  .todoListItems p {
    font-size: 0.7rem;
  }

  .iconContainer {
    flex-direction: row;
    width: 24%;
    font-size: 1rem;
  }
}
